# Exclude data that can be downloaded directly from the public source
daily-data

# Exclude virtualenv folder, can be created locally from requirements.txt
venv

# Exclude old code files, product files, aliases and junk
code-archive
COVID-figures-iCloud
data_time_series.csv
Figura-*.pdf
.DS_Store